<form class="col-md-6" action="/admin/adcoupon" method="post" >
      <div class="form-group mt-3">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" name="name" class="form-control  bg-white text-black" id="pname"
                  aria-describedby="emailHelp" placeholder="Name">
      </div>
      <div class="form-group mt-3">
            <label for="exampleInputEmail1">Code</label>
            <input type="text" name="code" class="form-control bg-white text-black" id="about"
                  aria-describedby="emailHelp" placeholder="Code">

      </div>


      <div class="form-group mt-3">
            <label for="exampleInputEmail1">Value</label>
            <input type="number" name="value" class="form-control bg-white text-black" id="newPrice"
                  aria-describedby="emailHelp" placeholder="Value">
      </div>
      <div class="form-group mt-3">
            <label for="exampleInputEmail1">Max Amount</label>
            <input type="number" name="maxAmount" class="form-control bg-white text-black" id="oldPrice"
                  aria-describedby="emailHelp" placeholder="Max Amount">

      </div>
      <div class="form-group mt-3">
            <label for="exampleInputEmail1">Min Amount</label>
            <input type="number" name="minAmount" class="form-control  bg-white text-black" id="offer"
                  aria-describedby="emailHelp" placeholder="Min Amount">
      </div>
      <div class="form-group mt-3">
            <label for="exampleInputEmail1">Exp Date</label>
            <input type="date" name="endingdate" class="form-control bg-white text-black" id="stock"
                  aria-describedby="emailHelp" placeholder="Stock count">
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>