<section>

        <div class="row">
           
                <div class="container mt-5 pl-5">
                     <div class="col-md-6 m-auto">
                    <h2 class="text-center">Login</h2>
                    <form action="/checkpassword" method="post">
                      <div class="form-group mt-4">
                            <label for="">Old Password</label>
                            <input type="password"  class="form-control" name="password" placeholder="Old Password" >
                             
                        </div>
                        <div class="form-group text-center mt-4">                           
                            <button type="submit" class="btn btn-primary float-right mt-2 w-100"  >Ok</button>              
                        </div>

                        
                        {{#if error}}

                        <div class="section text-danger text-center">
                            Invalid.
                        </div>
                        {{/if}}
                        

                        
                       
                       

                        
                    </form>
                </div>
            </div>
        </div>
    </section>