<section>

    <div class="row">

        <div class="container mt-5 pl-5">
            <div class="col-md-6 m-auto">
                <h2 class="text-center" style="color: rgb(70, 70, 168);">Reset Password</h2>
                <form action="/reset-password" method="post" role="form" id="submit-form">
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" id="contact-password" name="password" placeholder="Password"
                            onkeyup="validatePassword()">
                        <span id="password-error" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Conform Password</label>
                        <input type="password" class="form-control" id="conform-password" placeholder="Password"
                            onkeyup="passwordcheck()">
                        <span id="passwords-error" style="color: red;"></span>
                    </div>
                
                    <div class="form-group">
                        <div class="text-center mt-5">
                            <button type="submit" id="contact-submit" class="btn btn-primary float-right mt-2">Ok</button>
                
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</section>
 <script src="/javascripts/validation.js"></script>