<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>
		

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="media/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="media/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="media/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="media/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="media/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="media/css/style.css"/>
		
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		 

		

    </head>
		
		<!-- HEADER -->
		
<body>
	{{>user-header}}
	{{{body}}}
	
	<!--{{>user-footer}}-->
</body>

 
  <!-- FOOTER -->
		<!-- /FOOTER -->
		<script src="/public/javascripts/validation.js"></script>
		
		
		

		<!-- jQuery Plugins -->
		<script src="media/js/jquery.min.js"></script>

		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 

		<script src="media/js/bootstrap.min.js"></script>
		<script src="media/js/slick.min.js"></script>
		<script src="media/js/nouislider.min.js"></script>
		<script src="media/js/jquery.zoom.min.js"></script>
		<script src="media/js/main.js"></script>
		<script src="/public/javascripts/addtocart.js"></script>
		 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
